**/data/db
cache/
checkpoints/
logs/
data/routes.json
models/**/*.safetensors

*.egg-info
*.py[oc]
*.sw[op]
.cache
.coverage
.coverage.*
.eggs
.ipynb_checkpoints
.pdm-python
.pytest_cache/
.tox
.venv
__pycache__/
_build
build/
dist/
site/
version.py
wheels/
